 body {
font-family: 'Viaoda Libre', cursive;
color:aqua;
font-size: 18px;
font-weight: lighter;
}

.nav-link{
    font-size: x-large;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    color:aqua;
}
.nav-bar{
color:aqua;
} 


  