<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <div class="navbar navbar-inverse" style="background-color: rgb(0, 183, 255);" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target=".navbar-collapse"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="font-size: 25px; color: blue;"  href="/"> Pitch</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="">{% if current_user.is_authenticated %}</li>

          <li class="nav-item">
            <a
              id="create-acc"
              class="nav-link" style="color: blue;"
              href="{{url_for('main.new_pitch')}}"
              >Create New Pitch</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              style="margin-right: 30px"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              {{current_user.username}}
            </a>
            <div
              class="dropdown-menu dropdown-menu-right dropdown-info"
              aria-labelledby="navbarDropdownMenuLink-4"
            >
              <a
                class="dropdown-item" 
                href="{{url_for('main.profile',name=current_user.username)}}"
                >My account</a
              ><br />
              <a class="dropdown-item" href="{{url_for('auth.logout')}}"
                >Logout</a
              >
            </div>
          </li>
          {% else %}
          <li class="nav-item">
            <a
              class="nav-link"
              href="{{url_for('auth.login')}}"
              style="margin-right: 30px; display:flex; font-size: 18px; color:rgb(27, 27, 214);" 
              >Log In</a
            >
          </li>
          <li class="nav-item">
            <a
              style="margin-right: 30px;color:blue; font-size: 18px; display:flex;"
              class="nav-link"
              href="{{url_for('auth.register')}}"
              >Sign Up</a
            >
          </li>
        </ul>
        {%endif%}
      </div>
    </div>
  </body>
</html>
